---
import CollapsibleWidget from './CollapsibleWidget.astro'
import { i18n } from '../../i18n/translation'
import I18nKey from '../../i18n/i18nKey'
import { getCategoryList } from '../../utils/content-utils'
import { getCategoryUrl } from '../../utils/url-utils'
import ButtonLink from '../control/ButtonLink.astro'

const categories = await getCategoryList()

interface Props {
  class?: string
  style?: string
}
const className = Astro.props.class
const style = Astro.props.style
---

<CollapsibleWidget title={i18n(I18nKey.categories)} id="categories" class={className} style={style}>
    <div class="space-y-0.5">
        {categories.slice(0, 6).map((c) =>
            <ButtonLink
                url={getCategoryUrl(c.name)}
                badge={String(c.count)}
                label=`View all posts in the ${c.name} category`
            >
                {c.name}
            </ButtonLink>
        )}
    </div>
</CollapsibleWidget>